services:
  backend:
    build: .
    container_name: pricematrix_backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
    restart: always